@import "../../../src/assets/font/font.css";

.back{
    width:54vh;
    height: 79vh;
    margin-top: 20vh;
    border-radius: 3vh;
    box-shadow: 1vh 1vh 3vh #979797;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}
.block1{
    font-size: 2.4vh;
    font-family: "Inter Bold";
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
.icon{
    width: 6vh;
    height: 6.5vh;
    margin-right: 2.5vh;
}
.block2{
    display: flex;
    width: 49.2vh;
    height: 5.5vh;
    border-bottom: .15vh solid #CDCDCD;
    align-items: center;
    margin-top: 3vh;
}

.name{
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #979797;
    margin-left: 2vh;
}
.input{
    border: none;
    outline: none;
    margin-left: 3vh;
    font-size: 2vh;
    font-family: "Inter Semi Bold";
    font-weight: 500;
}
.input::placeholder{
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #CDCDCD;
}
.checkdup{
    width: 13.1vh;
    height: 4.4vh;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 1vh;
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #979797;
    margin-left: 1vh;
}
.genderBtn{
    border: none;
    width: 19.9vh;
    height: 6.2vh;
}
.block4{
    display: flex;
    width: 49.2vh;
    height: 5.5vh;
    justify-content: center;
    align-items: center;
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #979797;
}
.block3{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 2vh;

}
.block5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12vh;
    margin-top: 3.5vh;
}
.agreeAll{
    font-size: 1.8vh;
    font-family: "Inter Semi Bold";
    font-weight: 500;
    color: #979797;
    width: 1vh;
    height: 1vh;
    
}
.block6{
    margin-right: 13vh;
}
.accept{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.text{
    font-size: 1.6vh;
    font-family: "Inter Semi Bold";
    font-weight: 500;
    color: #979797;
    margin-top: 1vh;
    
}
.look{
    font-size: 1.6vh;
    font-family: "Inter Semi Bold";
    font-weight: 500;
    color: #979797;
    margin-top: 1vh;
    
}
input[type="radio"] {
    padding: 5px;
    border: 10px solid #ccc;
    cursor: pointer;
  }
.submit{
    border: none;
    width: 19.6vh;
    height: 6.6vh;
    color: black;
    font-size: 2.4vh;
    font-family: "Inter Bold";
    font-weight: 600;
    border-radius: 1vh;
    margin-top: 4vh;
    cursor: pointer;
}
a{
    text-decoration: none;
}