@import "../../assets/font/font.css";
/* desctop */
    /* Large 1920 x 1000 */
    @media (min-width: 1920px){
        .title{
            font-size: 24px;
            margin-bottom: .5vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .5vh;
            height: .5vh;
            margin: 0 0 .5vh 2vh;
        }
        .input{
            width: 21.5vh;
            height: 3.4vh;
            outline: none;
        }
        input{
            font-size: 18px;
            color: rgb(60, 60, 60);
        }
    }
    /* Medium 1440px ~ 1919px */
    @media (min-width:1440px) and (max-width: 1919px){
        .title{
            font-size: 2.4vh;
            margin-bottom: .5vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .5vh;
            height: .5vh;
            margin: 0 0 .5vh 2vh;
        }
        .input{
            width: 21.5vh;
            height: 3.4vh;
            outline: none;
        }
        input{
            font-size: 1.8vh;
            color: rgb(60, 60, 60);
        }
    }
    /* Small 1280px ~ 1439px */
    @media (min-width: 1280px) and (max-width:1439px){
        .title{
            font-size: 2.4vh;
            margin-bottom: .5vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .5vh;
            height: .5vh;
            margin: 0 0 .5vh 2vh;
        }
        .input{
            width: 21.5vh;
            height: 3.4vh;
            outline: none;
        }
        input{
            font-size: 1.8vh;
            color: rgb(60, 60, 60);
        }
    }

/* Tablets */
    /* Portrait: 768px - 1023px */
    @media (min-width: 768px) and (max-width:1023px){
        .title{
            font-size: 2.4vh;
            margin-bottom: .5vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .5vh;
            height: .5vh;
            margin: 0 0 .5vh 2vh;
        }
        .input{
            width: 21.5vh;
            height: 3.4vh;
            outline: none;
        }
        input{
            font-size: 1.8vh;
            color: rgb(60, 60, 60);
        }
    }
    /* Landscape: 1024px - 1279px */
    @media (min-width: 1024px) and (max-width:1279px){
        .title{
            font-size: 1.4vh;
            margin-bottom: .8vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .3vh;
            height: .3vh;
            margin: 0 0 .3vh 2vh;
        }
        .input{
            width: 13.5vh;
            height: 1.4vh;
            outline: none;
        }
        input{
            font-size: 1.8vh;
            color: rgb(60, 60, 60);
        }
    }
    /* Mobile Device */
    /* Medium 321px ~ 767px */
    @media (min-width: 321px) and (max-width: 767px){
        .title{
            font-size: 1.4vh;
            margin-bottom: .8vh;
            font-family: 'Outfit Regular';
        }
        .redDot{
            width: .3vh;
            height: .3vh;
            margin: 0 0 .3vh 2vh;
        }
        .input{
            width: 13.5vh;
            height: 1.4vh;
            outline: none;
        }
        input{
            font-size: 1.8vh;
            color: rgb(60, 60, 60);
        }
    }
    /* Medium under 320px */
    @media (max-width: 320px){
        
    }