@import "../../assets/font/font.css";
/* desctop */
    /* Large 1920 x 1000 */
    @media (min-width: 1920px){
        .MainSection2{
            opacity: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 90vh;
            align-items: center;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .show {
            opacity: 1;
            transform: translateY(0);
          }
        .textgroup1{
            width: 48vh;
            height: 48vh;
            box-shadow: 0vh 1vh 1vh#d1d1d1;
            background-color:#A5B879;
            border-radius: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 20vh;
            
        }
        
        .textgroup1_1{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-right: 10vh;
        }
        .text1{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text2{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text3{
            font-size: 1.2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .confirm1{
            font-size: 0.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .line{
            width: 40vh;
            height: .2vh;
            background-color: black;
            margin:3vh 0 3vh 0;
        }
        .textgroup1_2{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-left: 12vh;
        }
       
        .text5{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        
        .confirm2{
            font-size: .8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
            
        }
        .arrow{
            width: 1.2vh;
            height: 1.2vh;
            margin-left: 1vh;
        }
        .textgroup2{
            text-align: left;
            margin-right:-10vh;
        }
        .text7{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text8{
            font-size: 1.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #8F9194;
            margin: 0;
            line-height: 1.7;
        }
        .text9{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        .logo{
            width: 40vh;
            height: 39vh;
            margin-top: 50vh;
            margin-right: -15vh;
        }
        
    }
/* medium */
    @media (min-width:1440px) and (max-width: 1919px){
        .MainSection2{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 90vh;
            align-items: center;
        }
        .textgroup1{
            width: 48vh;
            height: 48vh;
            box-shadow: 0vh 1vh 1vh#d1d1d1;
            background-color:#A5B879;
            border-radius: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 20vh;
            
        }
        .textgroup1_1{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-right: 10vh;
        }
        .text1{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text2{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text3{
            font-size: 1.2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .confirm1{
            font-size: 0.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .line{
            width: 40vh;
            height: .2vh;
            background-color: black;
            margin:3vh 0 3vh 0;
        }
        .textgroup1_2{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-left: 12vh;
        }
       
        .text5{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        
        .confirm2{
            font-size: .8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
            
        }
        .arrow{
            width: 1.2vh;
            height: 1.2vh;
            margin-left: 1vh;
        }
        .textgroup2{
            text-align: left;
            margin-right:-10vh;
        }
        .text7{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text8{
            font-size: 1.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #8F9194;
            margin: 0;
            line-height: 1.7;
        }
        .text9{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        .logo{
            width: 30vh;
            height: 29vh;
            margin-top: 50vh;
            margin-right: -15vh;
        }
    }
/* Small 1280px ~ 1439px */
@media (min-width: 1280px) and (max-width:1439px){
    .MainSection2{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90vh;
        align-items: center;
    }
    .textgroup1{
        width: 52vh;
        height: 52vh;
        box-shadow: 0vh 1vh 1vh#d1d1d1;
        background-color:#A5B879;
        border-radius: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 15vh;
        
    }
    .textgroup1_1{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-right: 5vh;
    }
    .text1{
        font-size: 3.5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        margin: 0;
    }
    .text2{
        font-size: 3.5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        margin: 0;
    }
    .text3{
        font-size: 1.5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        line-height: 2;
    }
    .confirm1{
        font-size: 1.2vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        line-height: 2;
    }
    .line{
        width: 44vh;
        height: .2vh;
        background-color: black;
        margin:3vh 0 3vh 0;
    }
    .textgroup1_2{
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-left: 8vh;
    }
   
    .text5{
        font-size: 3.5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: #245441;
        margin: 0;
    }
    
    .confirm2{
        font-size: .8vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        line-height: 2;
        
    }
    .arrow{
        width: 1.2vh;
        height: 1.2vh;
        margin-left: 1vh;
    }
    .textgroup2{
        text-align: left;
        margin-right:-10vh;
    }
    .text7{
        font-size: 5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: black;
        margin: 0;
    }
    .text8{
        font-size: 1.8vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: #8F9194;
        margin: 0;
        line-height: 1.7;
    }
    .text9{
        font-size: 5vh;
        font-family: "Inter Bold";
        font-weight: 700;
        color: #245441;
        margin: 0;
    }
    .logo{
        width: 30vh;
        height: 29vh;
        margin-top: 45vh;
        margin-right: -15vh;
    }
}

/* Tablets */
    /* Portrait: 768px - 1023px */
    @media (min-width: 768px) and (max-width:1023px){
        .MainSection2{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 90vh;
            align-items: center;
        }
        .textgroup1{
            width: 74vh;
            height: 74vh;
            box-shadow: 0vh 1vh 1vh#d1d1d1;
            background-color:#A5B879;
            border-radius: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 15vh;
            
        }
        .textgroup1_1{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-right: 1vh;
        }
        .text1{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text2{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text3{
            font-size: 2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .confirm1{
            font-size: 2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .line{
            width: 52vh;
            height: .2vh;
            background-color: black;
            margin:3vh 0 3vh 0;
        }
        .textgroup1_2{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-left: 5vh;
        }
       
        .text5{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        
        .confirm2{
            font-size: 2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
            
        }
        
        .textgroup2{
            text-align: left;
            margin-right:-15vh;
        }
        .text7{
            font-size: 8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text8{
            font-size: 3vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #8F9194;
            margin: 0;
            line-height: 1.7;
        }
        .text9{
            font-size: 8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        .logo{
            width: 50vh;
            height: 48vh;
            margin-top: 70vh;
            margin-right: -4vh;
        }
    }
    /* Landscape: 1024px - 1279px */
    @media (min-width: 1024px) and (max-width:1279px){
        .MainSection2{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 90vh;
            align-items: center;
            overflow-x: hidden;
        }
        .textgroup1{
            width: 48vh;
            height: 48vh;
            box-shadow: 0vh 1vh 1vh#d1d1d1;
            background-color:#A5B879;
            border-radius: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 16vh;
            
        }
        .textgroup1_1{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-right: 10vh;
        }
        .text1{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text2{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text3{
            font-size: 1.2vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .confirm1{
            font-size: 0.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
        }
        .line{
            width: 40vh;
            height: .2vh;
            background-color: black;
            margin:3vh 0 3vh 0;
        }
        .textgroup1_2{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-left: 12vh;
        }
       
        .text5{
            font-size: 3.5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        
        .confirm2{
            font-size: .8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            line-height: 2;
            
        }
        .arrow{
            width: 1.2vh;
            height: 1.2vh;
            margin-left: 1vh;
        }
        .textgroup2{
            text-align: left;
            margin-right:vh;
        }
        .text7{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: black;
            margin: 0;
        }
        .text8{
            font-size: 1.8vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #8F9194;
            margin: 0;
            line-height: 1.7;
        }
        .text9{
            font-size: 5vh;
            font-family: "Inter Bold";
            font-weight: 700;
            color: #245441;
            margin: 0;
        }
        .logo{
            width: 30vh;
            height: 29vh;
            margin-top:50vh;
            margin-right: -15vh;
        }
}
/* Mobile Device */
    /* Medium 321px ~ 767px */
    @media (min-width: 321px) and (max-width: 767px){

    }
    /* Medium under 320px */
    @media (max-width: 320px){
        
    }