@import "../../assets/font/font.css";
/* desctop */
    /* Large 1920 x 1000 */
    @media (min-width: 1920px){
        .MainSection3{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80vw;
            flex-direction: column;
            align-items: center;
        }
        .tagbox{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tag3{
            font-size: 1.5vw;
            margin:0 0 1.5vw 0;
            font-family: 'Inter Medium';
            
        }
        .tag4{
            font-size: 2.5vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin:0;
        }
        .boxgroup{
            display: flex;
        }
        .box1{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box2{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box3{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vw 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .inbox1{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFB1B1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox2{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFEB99;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inbox3{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #BDDDFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox4{
            width: 26vw;
            height: 5vw;
            display: flex;
            align-items: center;
        }
        .img{
            width: 16vw;
            height: 16vw;
        }
        .text{
            font-size: 1.8vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin-left: 3vw;
        }
        .conf1{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 12vw;
        }
        .conf2{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 17vw;
        }
        .conf3{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 15.5vw;
        }
       
        
    }
    @media (min-width:1440px) and (max-width: 1919px){
        .MainSection3{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80vw;
            flex-direction: column;
            align-items: center;
        }
        .tagbox{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tag3{
            font-size: 1.5vw;
            margin:0 0 1.5vw 0;
            font-family: 'Inter Medium';
            
        }
        .tag4{
            font-size: 2.5vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin:0;
        }
        .boxgroup{
            display: flex;
        }
        .box1{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box2{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box3{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vw 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .inbox1{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFB1B1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox2{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFEB99;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inbox3{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #BDDDFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox4{
            width: 26vw;
            height: 5vw;
            display: flex;
            align-items: center;
        }
        .img{
            width: 16vw;
            height: 16vw;
        }
        .text{
            font-size: 1.8vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin-left: 3vw;
        }
        .conf1{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 12vw;
        }
        .conf2{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 17vw;
        }
        .conf3{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 15.5vw;
        }
    }
    /* Small 1280px ~ 1439px */
    @media (min-width: 1280px) and (max-width:1439px){
        .MainSection3{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80vw;
            flex-direction: column;
            align-items: center;
        }
        .tagbox{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tag3{
            font-size: 1.5vw;
            margin:0 0 1.5vw 0;
            font-family: 'Inter Medium';
            
        }
        .tag4{
            font-size: 2.5vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin:0;
        }
        .boxgroup{
            display: flex;
        }
        .box1{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box2{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box3{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vw 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .inbox1{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFB1B1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox2{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFEB99;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inbox3{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #BDDDFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox4{
            width: 26vw;
            height: 5vw;
            display: flex;
            align-items: center;
        }
        .img{
            width: 16vw;
            height: 16vw;
        }
        .text{
            font-size: 1.8vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin-left: 3vw;
        }
        .conf1{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 12vw;
        }
        .conf2{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 17vw;
        }
        .conf3{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 15.5vw;
        }
    }

/* Tablets */
    /* Portrait: 768px - 1023px */
    @media (min-width: 768px) and (max-width:1023px){
        .MainSection3{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80vw;
            flex-direction: column;
            align-items: center;
        }
        .tagbox{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tag3{
            font-size: 1.5vw;
            margin:0 0 1.5vw 0;
            font-family: 'Inter Medium';
            
        }
        .tag4{
            font-size: 2.5vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin:0;
        }
        .boxgroup{
            display: flex;
        }
        .box1{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box2{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box3{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vw 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .inbox1{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFB1B1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox2{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFEB99;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inbox3{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #BDDDFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox4{
            width: 26vw;
            height: 5vw;
            display: flex;
            align-items: center;
        }
        .img{
            width: 16vw;
            height: 16vw;
        }
        .text{
            font-size: 1.8vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin-left: 3vw;
        }
        .conf1{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 12vw;
        }
        .conf2{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 17vw;
        }
        .conf3{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 15.5vw;
        }
    }
    /* Landscape: 1024px - 1279px */
    @media (min-width: 1024px) and (max-width:1279px){
        .MainSection3{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80vw;
            flex-direction: column;
            align-items: center;
        }
        .tagbox{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tag3{
            font-size: 1.5vw;
            margin:0 0 1.5vw 0;
            font-family: 'Inter Medium';
            
        }
        .tag4{
            font-size: 2.5vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin:0;
        }
        .boxgroup{
            display: flex;
        }
        .box1{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box2{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vh 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .box3{
            width: 26vw;
            height: 26vw;
            border-radius: 2.5vw;
            background-color: white;
            box-shadow: 0vw 1vw 1vw#d1d1d1;
            margin: 5vw 2vw 0 2vw;
        }
        .inbox1{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFB1B1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox2{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #FFEB99;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .inbox3{
            width: 26vw;
            height: 21vw;
            border-radius: 2.5vw 2.5vw 0 0;
            background-color: #BDDDFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inbox4{
            width: 26vw;
            height: 5vw;
            display: flex;
            align-items: center;
        }
        .img{
            width: 16vw;
            height: 16vw;
        }
        .text{
            font-size: 1.8vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            margin-left: 3vw;
        }
        .conf1{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 12vw;
        }
        .conf2{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 17vw;
        }
        .conf3{
            font-size: 1vw;
            font-weight: 700;
            font-family: 'Inter Bold';
            color:#7a7a7aa4;
            margin-left: 15.5vw;
        }
    }
    /* Mobile Device */
    /* Medium 321px ~ 767px */
    @media (min-width: 321px) and (max-width: 767px){

    }
    /* Medium under 320px */
    @media (max-width: 320px){
        
    }