@import "../../assets/font/font.css";
/* desctop */
    /* Large 1920 x 1000 */
    @media (min-width: 1920px){
        .BackGround{
            width: 100%;
            height: 430vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }


    /* Medium 1440px ~ 1919px */
    @media (min-width:1440px) and (max-width: 1919px){
        .BackGround{
            width: 100%;
            height: 400.5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
    /* Small 1280px ~ 1439px */
    @media (min-width: 1280px) and (max-width:1439px){
        .BackGround{
            width: 100%;
            height: 400.5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
/* Tablets */
    /* Portrait: 768px - 1023px */
    @media (min-width: 768px) and (max-width:1023px){
        .BackGround{
            width: 100%;
            height: 380vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
        }
        
    }
    /* Landscape: 1024px - 1279px */
    @media (min-width: 1024px) and (max-width:1279px){
        .BackGround{
            width: 100%;
            height: 370vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
    /* Mobile Device */
    /* Medium 321px ~ 767px */
    @media (min-width: 321px) and (max-width: 767px){
        .BackGround{
            width: 100%;
            height: 300vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .MainLine{
            margin-top: 5.8vh;
            width: 90%;
            height: .3vh;
            background-color: #A5B879;
        }
    }
    /* Medium under 320px */
    @media (max-width: 320px){
        
    }
