@import "../../assets/font/font.css";
/* desctop */
    /* Large 1920 x 1000 */
    @media (min-width: 1920px){
        .Back{
            position:fixed;
            display: flex;
            width: 100%;
            height: 13.25vh;
            align-items: center;
            background-color: #ffffff;
            margin-top: -.7vw;
            border-bottom: .2vw solid #A7A9AC;
            
        }
        .Logo{
            width: 5vw;
            height: 4.8vw;
            margin-right: 5vw;
            margin-left: 1vw;
        }
        .NavBar{
            display: flex;
            justify-content: center;
            margin-right: 35%;
        }
        .active{
            font-size: 1.2vw;
            padding: 1.2vw 1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            color: black;
            border-bottom: .4vw solid #245441;
        }
        
        .tag {
            font-size: 1.2vw;
            padding: 1.4vw 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            text-decoration: none;
            color: black;
          }
          
          .tag:hover {
            cursor: pointer;
            transition: width 0.3s ease 1s, left 0.3s ease 1s;
          }
          
          .tag:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: flex;
            height: .4vw;
            left: 50%;
            position: absolute;
            background: #245441;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
            color: black;
          }
          
          .tag:hover:after {
            width: 150%;
            left: calc(-20%);
            
          }
        
        .Login{
            font-size: 1.2vw;
            text-align: center;
            cursor: pointer;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            margin-right: 2vw;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb;
        }
        .Login:hover{
            color: #A7A9AC;
            cursor: pointer;
            
        }
        .line{
            height: 1.5vw;
            width: .2vw;
            background-color: rgb(124, 124, 124);
        }
        .Signin{
            font-size: 1.2vw;
            text-align: center;
            margin-left: 2vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb
        }
        .Signin:hover{
            cursor: pointer;
            color: #A7A9AC;
        }
        .box2{
            display: flex;
            align-items: center;
        }
    }
/* Medium 1440px ~ 1919px */
@media (min-width:1440px) and (max-width: 1919px){
    .Back{
        position:fixed;
        display: flex;
        width: 100%;
        height: 13.25vh;
        align-items: center;
        background-color: #ffffff;
        margin-top: -.7vw;
        border-bottom: .2vw solid #A7A9AC;
        
    }
    .Logo{
        width: 5vw;
        height: 4.8vw;
        margin-right: 5vw;
        margin-left: 1vw;
    }
    .NavBar{
        display: flex;
        justify-content: center;
        margin-right: 35%;
    }
    .active{
        font-size: 1.2vw;
        padding: 1.2vw 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.7vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        writing-mode: horizontal-tb;
        position: relative;
        cursor: pointer;
        color: black;
        border-bottom: .4vw solid #245441;
    }
    
    
    .tag {
        font-size: 1.2vw;
        padding: 1.2vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.7vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        writing-mode: horizontal-tb;
        position: relative;
        cursor: pointer;
        color: black;
      }
      
      .tag:hover {
        cursor: pointer;
        transition: width 0.3s ease 1s, left 0.3s ease 1s;
      }
      
      .tag:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: flex;
        height: .4vw;
        left: 50%;
        position: absolute;
        background: #245441;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      .tag:hover:after {
        width: 150%;
        left: calc(-20%);
        
      }
    
    .Login{
        font-size: 1.2vw;
        text-align: center;
        cursor: pointer;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        margin-right: 2vw;
        transition: color .3s ease-in-out;
        writing-mode: horizontal-tb;
    }
    .Login:hover{
        color: #A7A9AC;
        cursor: pointer;
        
    }
    .line{
        height: 1.5vw;
        width: .2vw;
        background-color: rgb(124, 124, 124);
    }
    .Signin{
        font-size: 1.2vw;
        text-align: center;
        margin-left: 2vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        transition: color .3s ease-in-out;
        writing-mode: horizontal-tb
    }
    .Signin:hover{
        cursor: pointer;
        color: #A7A9AC;
    }
    .box2{
        display: flex;
        align-items: center;
    }
}
/* Small 1280px ~ 1439px */
@media (min-width: 1280px) and (max-width:1439px){
    .Back{
        position:fixed;
        display: flex;
        width: 100%;
        height: 13.25vh;
        align-items: center;
        background-color: #ffffff;
        margin-top: -.7vw;
        border-bottom: .2vw solid #A7A9AC;
        
    }
    .Logo{
        width: 5vw;
        height: 4.8vw;
        margin-right: 5vw;
        margin-left: 1vw;
    }
    .NavBar{
        display: flex;
        justify-content: center;
        margin-right: 35%;
    }
    .active{
        font-size: 1.2vw;
        padding: 1.2vw 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.7vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        writing-mode: horizontal-tb;
        position: relative;
        cursor: pointer;
        color: black;
        border-bottom: .4vw solid #245441;
    }
    .tag {
        font-size: 1.2vw;
        padding: 1.4vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.7vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        writing-mode: horizontal-tb;
        position: relative;
        cursor: pointer;
        color: black;
      }
      
      .tag:hover {
        cursor: pointer;
        transition: width 0.3s ease 1s, left 0.3s ease 1s;
      }
      
      .tag:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: flex;
        height: .4vw;
        left: 50%;
        position: absolute;
        background: #245441;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      .tag:hover:after {
        width: 150%;
        left: calc(-20%);
        
      }
    
    .Login{
        font-size: 1.2vw;
        text-align: center;
        cursor: pointer;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        margin-right: 2vw;
        transition: color .3s ease-in-out;
        writing-mode: horizontal-tb;
    }
    .Login:hover{
        color: #A7A9AC;
        cursor: pointer;
        
    }
    .line{
        height: 1.5vw;
        width: .2vw;
        background-color: rgb(124, 124, 124);
    }
    .Signin{
        font-size: 1.2vw;
        text-align: center;
        margin-left: 2vw;
        font-family: 'Inter Extra Bold';
        font-weight: 700;
        transition: color .3s ease-in-out;
        writing-mode: horizontal-tb
    }
    .Signin:hover{
        cursor: pointer;
        color: #A7A9AC;
    }
    .box2{
        display: flex;
        align-items: center;
    }

}

/* Tablets */
    /* Portrait: 768px - 1023px */
    @media (min-width: 768px) and (max-width:1023px){
        .Back{
            position:fixed;
            display: flex;
            width: 100%;
            height: 9.25vh;
            align-items: center;
            background-color: #ffffff;
            margin-top: -.7vw;
            border-bottom: .2vw solid #A7A9AC;
            
        }
        .Logo{
            width: 5vw;
            height: 4.8vw;
            margin-right: 5vw;
            margin-left: 1vw;
        }
        .NavBar{
            display: flex;
            justify-content: center;
            margin-right: 35%;
        }
        .active{
            font-size: 1.2vw;
            padding: 1.2vw 1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            color: black;
            border-bottom: .4vw solid #245441;
        }
        .tag {
            font-size: 1.2vw;
            padding: 1.4vw 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            color: black;
          }
          
          .tag:hover {
            cursor: pointer;
            transition: width 0.3s ease 1s, left 0.3s ease 1s;
          }
          
          .tag:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: flex;
            height: .4vw;
            left: 50%;
            position: absolute;
            background: #245441;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          
          .tag:hover:after {
            width: 150%;
            left: calc(-20%);
            
          }
        
        .Login{
            font-size: 1.2vw;
            text-align: center;
            cursor: pointer;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            margin-right: 2vw;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb;
        }
        .Login:hover{
            color: #A7A9AC;
            cursor: pointer;
            
        }
        .line{
            height: 1.5vw;
            width: .2vw;
            background-color: rgb(124, 124, 124);
        }
        .Signin{
            font-size: 1.2vw;
            text-align: center;
            margin-left: 2vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb
        }
        .Signin:hover{
            cursor: pointer;
            color: #A7A9AC;
        }
        .box2{
            display: flex;
            align-items: center;
        }
    
    }
    /* Landscape: 1024px - 1279px */
    @media (min-width: 1024px) and (max-width:1279px){
        .Back{
            position:fixed;
            display: flex;
            width: 100%;
            height: 9.25vh;
            align-items: center;
            background-color: #ffffff;
            margin-top: -.7vw;
            border-bottom: .2vw solid #A7A9AC;
            
        }
        .Logo{
            width: 5vw;
            height: 4.8vw;
            margin-right: 5vw;
            margin-left: 1vw;
        }
        .NavBar{
            display: flex;
            justify-content: center;
            margin-right: 35%;
        }
        .active{
            font-size: 1.2vw;
            padding: 1.2vw 1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            color: black;
            border-bottom: .4vw solid #245441;
        }
        .tag {
            font-size: 1.2vw;
            padding: 1.4vw 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.7vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            writing-mode: horizontal-tb;
            position: relative;
            cursor: pointer;
            color: black;
          }
          
          .tag:hover {
            cursor: pointer;
            transition: width 0.3s ease 1s, left 0.3s ease 1s;
          }
          
          .tag:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: flex;
            height: .4vw;
            left: 50%;
            position: absolute;
            background: #245441;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          
          .tag:hover:after {
            width: 150%;
            left: calc(-20%);
            
          }
        
        .Login{
            font-size: 1.2vw;
            text-align: center;
            cursor: pointer;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            margin-right: 2vw;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb;
        }
        .Login:hover{
            color: #A7A9AC;
            cursor: pointer;
            
        }
        .line{
            height: 1.5vw;
            width: .2vw;
            background-color: rgb(124, 124, 124);
        }
        .Signin{
            font-size: 1.2vw;
            text-align: center;
            margin-left: 2vw;
            font-family: 'Inter Extra Bold';
            font-weight: 700;
            transition: color .3s ease-in-out;
            writing-mode: horizontal-tb
        }
        .Signin:hover{
            cursor: pointer;
            color: #A7A9AC;
        }
        .box2{
            display: flex;
            align-items: center;
        }
    }
    /* Mobile Device */
    /* Medium 321px ~ 767px */
    @media (min-width: 321px) and (max-width: 767px){

    }
    /* Medium under 320px */
    @media (max-width: 320px){
        
    }