@import "../../../src/assets/font/font.css";
.button{
    border-radius: 1vh;
    width: 49.4vh;
    height: 6.6vh;
    font-size: 2.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter Semi Bold";
    cursor: pointer;
    font-weight: 400;
    opacity: 1;
    transition: background-color .5s ease-in-out;;
    
}
.button:hover{
    
}
.img{
     width: 3vh;
     height: 3.3vh;
     margin-right: 1vh;
}