@import "../../assets/font/font.css";
@media (min-width: 1280px){
.Rank{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 0 0 0;
    width: 100%;
}
.Content{
    font-size: 1vw;
    font-family: 'Inter Bold';
    font-weight: 700;
    margin: 1vw 2vw .5vw;
}
.Topic{
    font-size: 1vw;
    font-family: 'Inter Medium';
    margin: 0;
}}
@media (min-width: 1024px) and (max-width:1279px){
    .Rank{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0vw 0 0 0;
        width: 100%;
    }
    .Content{
        font-size: 1vw;
        font-family: 'Inter Bold';
        font-weight: 700;
        margin: 1vw 2vw .5vw;
    }
    .Topic{
        font-size: 1vw;
        font-family: 'Inter Medium';
        margin: 0;
    }
}
@media(max-width:1023px){
    .Rank{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0vw 0 0 0;
        width: 100%;
    }
    .Content{
        font-size: 1vw;
        font-family: 'Inter Bold';
        font-weight: 700;
        margin: 1vw 2vw .5vw;
    }
    .Topic{
        font-size: 1vw;
        font-family: 'Inter Medium';
        margin: 0;
    }
}