.block1{
    display: flex;
    flex-direction: column;
    height: 11vh;
}
.block2{
    width: 49.2vh;
    height: 5.5vh;
    border-bottom: .15vh solid #CDCDCD;
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.name{
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #979797;
    margin-left: 2vh;
}
.input{
    border: none;
    outline: none;
    margin-left: 3vh;
    font-size: 2vh;
    font-family: "Inter Semi Bold";
    font-weight: 500;
}
.input::placeholder{
    font-family: "Inter Semi Bold";
    font-size: 2vh;
    font-weight: 600;
    color: #CDCDCD;
}
.errortext{
    font-size: 1.5vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
}