@import '../../../../assets/font/font.css';
.name1{
    font-family: 'Inter Semi Bold';
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 1vw;
    margin-top: -3vw;
}
.name2{
    font-family: 'Inter Semi Bold';
    font-weight: 700;
    font-size: 1.5vw;
    color: #979797;
    margin-top: 0;
}

.box{
    width: 50%;
    height: 3vw;
    border-bottom: .1vw solid #979797;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
}
.input{
    width: 100%;
    height: 2vw;
    border: none;
    font-size: 1.2vw;
    font-family: 'Inter Semi Bold';
}
.input::placeholder{
    font-size: 1.3vw;
    font-family: 'Inter Semi Bold';
    color: #CDCDCD;
    outline: none;
    text-align: center;
}
.select{
    width: 6vw;
    height: 2.3vw;
    background-color: #055540;
    color: white;
    font-family: 'Inter Bold';
    font-size: 1.1vw;
    text-align: center;
    line-height: 2.5vw;
    border-radius: .7vw;
    margin-top: 3vw;
}